body {
    background-color: pink;
}
#flex {
    display: flex;
    flex-direction: row;

}

nav {
    background-color: white;
}
main {
    background-color: pink;
}
h1 {
    color: white;
}
p {
    color: white;
}
a {
    color: pink;
}